<%= form_for(@message, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h4>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :status, :class => "hidden form-control", :value => 'S' %>
  <%= f.number_field :user_id, :class => "hidden form-control", :value => session[:user_id] %>

  <div class="form-group">
    <%= f.label :recipient_id, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :recipient_id, @users, :id, :username, {}, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :text, :class => "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :text, :class => "form-control", :rows => "10" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
