<div class="page-header">
	<%= link_to messages_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
	<%= link_to new_message_path(:recipient_id => @message.user_id), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Reply
  <% end %>
  
  <h1>Read message</h1>
</div>


<dl class="dl-horizontal col-md-7">
  <h3>From <%= @message.user.username %> at <%= @message.created_at.strftime("%T")%> on <%= @message.created_at.strftime("%F")%></h3>
  <dt>Text:</dt>
  <dd><%= @message.text %></dd>
</dl>
