<div class="page-header">
  <%= link_to new_contract_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Contract
  <% end %>
  <h1>Listing contracts</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Agency</th>
            <th>Date</th>
            <th>Discount</th>
            <th>Notes</th>
            <th>Last updated by</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @contracts) do |contract| %>
            <td><%= contract.agency_id %></td>
            <td><%= contract.date %></td>
            <td><%= contract.discount %></td>
            <td><%= contract.notes %></td>
            <td><%= contract.last_updated_by %></td>
            <td><%= link_to 'Show', contract %></td>
        <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
        <td><%= link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
