<div class="page-header">
  <%= link_to magazine_issue_fields_path(@magazine,@issue,@field), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_magazine_issue_field_path(@magazine,@issue,@field), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show field</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @field.title %></dd>

  <dt>Height:</dt>
  <dd><%= @field.height %></dd>

  <dt>Width:</dt>
  <dd><%= @field.width %></dd>

  <dt>Price:</dt>
  <dd><%= @field.price %></dd>

</dl>
